{
    "users": [
        {
            "sub": "002345.xyz789abc123def456ghi.4567",
            "data": {
                "user_id": 1026,
                "user_name": "liangyangjunwei"
            }
        }
    ]
}
